{{#if index}}

{{else}}
    <ul id="slide-out" class="sidenav">
        <li><div class="user-view">
            <div class="background">
                <img src="/images/colors.jpg">
            </div>
            <a href="#user"><img class="circle" id="photoSpotify"src="" id="photoUrl"></a>
            <a href="#name"><span class="white-text name" id="displayName"></span></a>
        </div>
        <li><a class="subheader">Menu</a></li>
        <li><a class="waves-effect" href="/createList">Create another Playlist!</a></li>
    </ul>
    <a href="#" data-target="slide-out" class="sidenav-trigger"><img class="jamberguerg" src="/images/whiteJamburgerg.png" alt=""></a>
    <script src="/javascripts/nav.js"></script>
{{/if}}