
<div class="black-out">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="title-h1">Ran_Dj</h1>
            <h4 class="title-white">Create a personalized playlist super easy!</h4>
            <h5 class="title-white formula">Artist/Band   +   Song   =   <span class="strongest">Awesome Playlist!</span></h5>
            <a href="/auth/login"><button class="form-button down">login with Spotify</button></a>
        </div>
    </div>
    <div class="music-rgba">
        <span class="music-span">
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
        </span>
    </div>
</div>