
<div class="black-out">
    <div class="row">
        <div class="col s12 center-align">
            <h1 class="title-h1">Ran_Dj</h1>
            <h5 class="title-white">The music you need ...at the moment you want!</h5>
            <br>
            <p class="title-white">Creates a personalized playlist super easy!</p>
            <a href="/auth/login"><button class="form-button down">login with Spotify</button></a>
        </div>
    </div>
    <div class="music-rgba">
        <span class="music-span">
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
          <div class="music-div">
          </div>
        </span>
    </div>
</div>