<div class="login-page">
    <div class="form">

        <div class="login-form">
            <img src="/images/iron.png" width="250px" alt="">
            <hr>
            <a href="/auth/login"><button>login with Spotify</button></a>
        </div>
    </div>
</div>
<span class="music-span">
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>
  <div class="music-div">
  </div>

<span>