
<div>
    <div id="login">
        <h1>Congrats logged id :D</h1>
        <input type="text" id="id" value="{{user.id}}">
        <h2>{{user.displayName}}</h2>
        <h2>{{user.accessToken}}</h2>
        <input id="token" type="text" value="{{user.accessToken}}" style="display: none">
    </div>
    <div id="loggedin">
        <a href="/spotify/getToken"></a>
        <a href="/spotify/me">me</a>
        <button id="go">Here it goes some code ;3</button>
    </div>
</div>

<script src="/javascripts/miguelspotify.js"></script>
