
<div>
    <div id="login">
        <h1>Congrats logged id :D</h1>
        <h2>{{user.displayName}}</h2>
        <h2>{{user.accessToken}}</h2>
    </div>
    <div id="loggedin">
        <a href="/spotify/getToken"></a>
    </div>
</div>

<script src="/javascripts/miguelspotify.js"></script>
