<div class="container">
    <h1 class="title-white">Your playlists</h1>
<ul class="collection ">
    {{#each user.playlists}}
        <a href="/showList/{{this.spotifyId}}">
        <li class="collection-item dark">
            <span>{{this.name}}</span>
        </li>
        </a>
    {{/each}}

</ul>
</div>

<script src="/javascripts/showList.js"></script>