<div class="container">
    <h1 class="title-white">Your playlist</h1>
<ul class="collection ">
    {{#each playlists}}
        <li class="collection-item dark">
            <h2 class="title-white">Here goes a playlist</h2>
        </li>
    {{/each}}

</ul>
</div>