.collection{
    border: none !important;
}
.collection-item{
    background-color: rgba(0,0,0,.5) !important;
    color: white !important;
    border-bottom: none !important;
}

.collection-item:hover {
    background-color: rgba(255,255,255,.75) !important;
    color: #616161 !important;
}
.dark{
    color: #616161 !important;
}

.dark:hover{
    background-color: #FAFAFA !important;
    color: black !important;
}