.carousel img{
    display: block;
    margin: 0 auto;
}
.carousel{
    padding-bottom: 5px;
}
.list-group-item-dark{
    background-color: rgba(0,0,0,.4);
    color: white;
}
.list-group-item-light{
    background-color: rgba(0,0,0,.4);

}
