<div class="container">
    <h2>MIkes list playlist</h2>

    <div id="container">
        {{#each auxTracks}}
            <p>{{ this.name }}</p>
            <p class="track" hidden>{{ this.uri }}</p>
        {{/each}}
    </div>
</div>
<script src="/javascripts/carlosspotify.js"></script>
