<h2>Playlist ready, click to add to your profile</h2>

<div id="container">
{{#each auxTracks}}
<p class="track" hidden>{{ this }}</p>
{{/each}}
</div>

<script src="/javascripts/carlosspotify.js"></script>