<h2>PLaylist ready, click to add to your profile</h2>

<div id="container">
{{#each playlistTracks}}
<p class="track">{{ this }}</p>
{{/each}}
</div>

<script src="/javascripts/carlosspotify.js"></script>