<div class="home">
  <form action="/rutascarlos">
    <input class="input" type="text" name="search" placeholder="Artist/Band">
    <input class="submit" type="submit" value="Search for an Artist">
  </form>
</div>