<div class="home">
  <form action="/rutascarlos" method="POST">
    <input class="input" type="text" name="search1" placeholder="Artist/Band">
    <input class="input" type="text" name="search2" placeholder="Song">
    <input class="input" type="text" name="search3" placeholder="Mood">
    <input class="submit" type="submit" value="Search for an Artist">
  </form>
</div>