<h1>Hola, soy RanDJ</h1>

<div>
    <form id="search-form" action="/rutascarlos/artist" method="POST">
        <input type="text" id="artist" name="artist">
        <input type="submit" value="Music now!">
    </form>
</div>